@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Amiri:regular,700);
body {
  font-weight: 400;
  font-family: "amiri";
}

*:focus {
  outline: 1px solid #4ca89c;
  outline-offset: 2px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.main-btn {
  color: #23485b;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #ffcd57;
  font-size: 1.25rem;
  font-weight: 900;
  border-radius: 0.5rem;
  transition: 0.2s;
}
.main-btn:hover {
  background-color: #f7bc31;
}

._shell {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
}

.t-title {
  text-align: center;
  font-size: 2.625rem;
  line-height: 100%;
  color: #23485b;
  font-weight: 800;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper .header {
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4ca89c;
}
.wrapper .header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}
.wrapper .header .header__content .header__logo img {
  width: 200px;
}
.wrapper .header .header__content .header__logo img.logomobile {
  display: none;
  width: 55px;
}
.wrapper .header .header__content .header__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.wrapper .header .header__content .header__menu address {
  color: #ffffff;
}
.wrapper .header .header__content .header__menu .lang-btn {
  font-size: 20px;
  color: #ffcd57;
}
.wrapper .footer {
  padding: 16px 16px;
  background-color: #23485b;
}
.wrapper .footer .footer__content {
  color: #4ca89c;
}
.wrapper .main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.wrapper .main .section {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
.wrapper .main .section__hero {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.wrapper .main .section__hero .hero__form-container {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  width: 100%;
  padding: 0 16px;
  justify-content: center;
  gap: 2rem;
}
.wrapper .main .section__hero .hero__form-container h1 {
  font-size: 3rem;
}
.wrapper .main .section__hero .hero__form-container h1 span {
  color: #4ca89c;
}
.wrapper .main .section__hero .hero__form-container p {
  margin-top: -2rem;
  text-align: center;
  color: #23485b;
  font-size: 1rem;
}
.wrapper .main .section__hero .hero__form-container form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.wrapper .main .section__hero .hero__form-container form .form__row {
  display: flex;
  gap: 0.75rem;
}
.wrapper .main .section__hero .hero__form-container form .form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.wrapper .main .section__hero .hero__form-container form .form__item label {
  font-weight: 900;
  color: #4ca89c;
}
.wrapper .main .section__hero .hero__form-container form .form__item input {
  width: 100%;
  background-color: #edf7f6;
  border-radius: 0.5rem;
  font-size: 1rem !important;
  padding: 0 16px;
  height: 48px;
  color: #acacac;
}
.wrapper .main .section__hero .hero__form-container form .form__item input[type=date] {
  max-width: 32rem;
  box-sizing: border-box;
}
.wrapper .main .section__hero .hero__form-container form .form__item input:focus {
  outline: 1px solid #4ca89c;
}
.wrapper .main .section__hero .hero__form-container form .form__item input::placeholder {
  color: #acacac; /* Колір тексту підказки */
  opacity: 1; /* Робимо підказку повністю видимою */
}
.wrapper .main .section__hero .hero__form-container form .form__item select {
  width: 100%;
  height: 48px;
  font-size: 1rem !important;
  border-radius: 0.5rem;
  background-color: #edf7f6;
  padding: 0 16px;
  color: #acacac;
}
.wrapper .main .section__hero .hero__form-container form .form__item select:focus {
  outline: 1px solid #4ca89c;
}
.wrapper .main .section__hero .hero__form-container form .main-btn {
  margin-top: 2rem;
}
.wrapper .main .section__hero .heroSwiper {
  width: 100%;
  position: relative;
  height: 40rem;
  margin-left: -10.9rem;
}
.wrapper .main .section__hero .heroSwiper::after {
  z-index: 98;
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 40%;
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
  height: 100%;
}
.wrapper .main .section__hero .heroSwiper .swiper-wrapper {
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.wrapper .main .section__hero .heroSwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.wrapper .main .section__hero .heroSwiper .swiper-wrapper .swiper-slide img {
  transform: scale(100%);
  transition: 4s linear;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .main .section__hero .heroSwiper .swiper-wrapper .swiper-slide-active img {
  transform: scale(105%);
}
.wrapper .main .section__insurances .logos__wrapper {
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375rem;
}
.wrapper .main .section__insurances .logos__wrapper::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ffffff, rgba(255, 195, 160, 0));
  width: 9rem;
  height: 100%;
}
.wrapper .main .section__insurances .logos__wrapper::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #ffffff, rgba(255, 195, 160, 0));
  width: 9rem;
  height: 100%;
}
.wrapper .main .section__insurances .logos__wrapper .logos__track {
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  padding: 0 1rem;
  gap: 3rem;
  height: 8rem;
}
.wrapper .main .section__insurances .logos__wrapper .logos__track img {
  height: 100%;
  flex-shrink: 0;
}
.wrapper .main .section__doctors {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #edf7f6;
}
.wrapper .main .section__doctors .doctors__content {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.wrapper .main .section__doctors .doctors__content .item {
  flex: 1 1 400px; /* Додаємо гнучкість */
  max-width: 35rem;
  min-width: 30.375rem; /* Мінімальна ширина перед переходом на наступний рядок */
  display: flex;
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}
.wrapper .main .section__doctors .doctors__content .item img {
  max-width: 230px;
  max-height: 330px;
  border-radius: 0.375rem;
  object-fit: cover;
}
.wrapper .main .section__doctors .doctors__content .item .info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.wrapper .main .section__doctors .doctors__content .item .info .item__title {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.wrapper .main .section__doctors .doctors__content .item .info .item__title .name {
  line-height: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #23485b;
}
.wrapper .main .section__doctors .doctors__content .item .info .item__title .prof {
  font-size: 1.125rem;
  color: #4ca89c;
}
.wrapper .main .section__doctors .doctors__content .item .info ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrapper .main .section__doctors .doctors__content .item .info ul li {
  color: #23485b;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.wrapper .main .section__doctors .doctors__content .item .info ul li::before {
  content: "";
  border-radius: 10px;
  position: static;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #4ca89c;
}
.wrapper .main .section__doctors .doctors__content .item .info p {
  font-size: 0.875rem;
  color: #4ca89c;
  margin-top: auto;
}
.wrapper .main .section__testimonials {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.wrapper .main .section__testimonials .testimonials__content {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.wrapper .main .section__testimonials .testimonials__content .item {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.125rem;
  background-color: #edf7f6;
  height: 100%;
}
.wrapper .main .section__testimonials .testimonials__content .item .title {
  display: flex;
  justify-content: space-between;
}
.wrapper .main .section__testimonials .testimonials__content .item .title .column {
  display: flex;
  flex-direction: column;
}
.wrapper .main .section__testimonials .testimonials__content .item .title .column .name {
  font-size: 1.25rem;
  font-weight: 700;
  color: #23485b;
}
.wrapper .main .section__testimonials .testimonials__content .item .title .column .stars {
  display: flex;
}
.wrapper .main .section__testimonials .testimonials__content .item .title .date {
  color: #23485b;
}
.wrapper .main .section__testimonials .testimonials__content .item p {
  color: #4ca89c;
}
.wrapper .main .section__video {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #edf7f6;
}
.wrapper .main .section__video h1 {
  line-height: 100%;
}
.wrapper .main .section__video iframe {
  aspect-ratio: 16/9;
  max-width: 650px; /* Максимальна ширина блоку */
  width: 100%;
  border-radius: 8px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .wrapper .t-title {
    font-size: 1.75rem;
  }
  .wrapper .header .header__content .header__logo img.logofull {
    display: none;
  }
  .wrapper .header .header__content .header__logo img.logomobile {
    width: 80px;
    display: block;
  }
  .wrapper .header .header__content .header__menu {
    gap: 1.25rem;
  }
  .wrapper .header .header__content .header__menu address {
    display: none;
  }
  .wrapper .header .header__content .header__menu .lang-btn {
    font-size: 24px;
  }
  .wrapper .main .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .wrapper .main .section__hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .wrapper .main .section__hero .hero__form-container {
    max-width: none;
  }
  .wrapper .main .section__hero .hero__form-container .form__row {
    flex-direction: column;
  }
  .wrapper .main .section__hero .heroSwiper {
    display: none;
  }
  .wrapper .main .section__doctors {
    gap: 2rem;
  }
  .wrapper .main .section__doctors .doctors__content {
    padding: 0 16px;
    gap: 1rem;
  }
  .wrapper .main .section__doctors .doctors__content .item {
    flex: 1 0 0; /* Додаємо гнучкість */
    min-width: inherit !important; /* Мінімальна ширина перед переходом на наступний рядок */
    max-width: 20rem !important;
    width: 100%;
    background-color: #ffffff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .main .section__doctors .doctors__content .item img {
    max-width: none !important;
    max-height: 330px;
    border-radius: 0.375rem;
    object-fit: cover;
  }
  .wrapper .main .section__doctors .doctors__content .item .info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .wrapper .main .section__doctors .doctors__content .item .info .item__title {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }
  .wrapper .main .section__doctors .doctors__content .item .info .item__title .name {
    line-height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #23485b;
  }
  .wrapper .main .section__doctors .doctors__content .item .info .item__title .prof {
    font-size: 1.125rem;
    color: #4ca89c;
  }
  .wrapper .main .section__doctors .doctors__content .item .info ul {
    display: none;
  }
  .wrapper .main .section__doctors .doctors__content .item p {
    font-size: 0.875rem;
    color: #4ca89c;
    margin-top: auto;
  }
  .wrapper .main .section__testimonials {
    gap: 2rem;
  }
  .wrapper .main .section__testimonials .testimonials__content {
    gap: 1rem;
  }
  .wrapper .main .section__testimonials .item:nth-child(n+5) {
    display: none;
  }
  .wrapper .main .section__video {
    gap: 2rem;
  }
}